<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Student Registration</h1>
    {% comment %} <form action="">
        <ul>
           {{form.as_ul}}
        </ul>

        <input type="submit" value="Submit">
    </form> {% endcomment %}

    <form action="">
        First Name: {{form.first_name}}
        <br />
        Last Name: {{form.last_name}}
    </form>
</body>
</html>