<!DOCTYPE html>
{% load static %}
{% load django_bootstrap5 %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock title %}</title>
    {% comment %} {% load bootstrap_css %}
    {% load bootstrap_javascript %} {% endcomment %}
    {% block corecss %} 
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
    {% endblock corecss %}
</head>
<body>
    {% comment %} <ul>
        <li>Home</li>
        <li>Django</li>
        <li>Python</li>
    </ul> {% endcomment %}

    <nav>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/course/dj">Django</a></li>
        <li><a href="/course/py">Python</a></li>
    </nav>
    <hr>
    <nav>
    <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'learn-django' %}">Django</a></li>
        <li><a href="{% url 'learn-python' %}">Python</a></li>
    </nav>

    {% block content %} {% endblock content %}
    {% block footer %}This is footer{% endblock footer %}
</body>
</html>